<style>
      .photoList { display:grid; grid-template-columns: 1fr 1fr 1fr 1fr;
      }
       .photoList > li { border:1px solid #000; margin:20px;
             display:grid; position:relative;
       }
       .photoList > li > div.originBox {
               display:grid; align-content:space-between;
       }
       .photoList > li > div.hoverBox {
               position:absolute; top:0; left:0; right:0; bottom:0;
               background:red; display:none;
               justify-content:center;
               align-items:center;
       }
       .photoList > li:hover > div.hoverBox { display:flex }
       .photoList > li > div.hoverBox a { margin:0 20px; }

       #modalOuter { position:fixed;
            top:0; left:0; bottom:0; right:0;
              background:rgba(0,0,0,0.8);
              z-index:9999; display:none;
       }

      #modalInner { position:absolute; width:400px; height:400px;
              left:50%; top:50%;
              transform:translate(-50%, -50%);
              background:#00afa0;
              text-align:center;
             padding:20px;
      }
      #modalInner .close { text-align:right; }
      #modalInner .close i { font-size:50px; color:#fff; cursor:pointer }

      #modalInner .infoText { font-size:18px; margin-top:20px }
      #modalInner .infoText p { color:#fff; margin:3px 0px  }

      #modalInner .cartIcon { font-size:80px; margin:5px 0;  }
      #modalInner .cartIcon i { color:#fff }

      #modalInner .moveBtn { display:flex; justify-content:center }
      #modalInner .moveBtn a { width:100px; height:100px;
               border-radius:50%; border:1px solid #fff;
               display:flex;  justify-content:center;
               align-items:center; margin:0 10px; color:#fff;
      }
      #modalInner .moveBtn a:hover {
              background:#0d786d; border:1px solid #0d786d;
      }

</style>

<ul class="photoList">
        <li th:each="item : ${list}">
            <div class="originBox">
                <th:block th:if="${item.pr_photo0 != null and !item.pr_photo0.isEmpty()}">
                    <div>
                        <img th:src="@{'/files/' + ${item.pr_photo0}}">
                    </div>
                </th:block>
                <th:block th:if="${item.pr_photo0 == null or item.pr_photo0.isEmpty()}">
                    <div>
                        <img th:src="@{/img/user/small_banner1.png}">
                    </div>
                </th:block>
                <div>
                    <p th:text="${item.pr_name}"></p>
                    <p th:text="${item.pr_author}"></p>
                    <p th:text="${item.pr_publisher}"></p>
                </div>
            </div>
            <div class="hoverBox">
                <a th:href="@{/photoReviewDetail(pr_no=${item.pr_no})}">상세페이지</a>
                <a href="${item.pr_no}">장바구니</a>
            </div>
        </li>
</ul>

